body{
    color: red;
}

/* Lipsum*/
h1{
    
    font-family: 'Montserrat', sans-serif;
    margin-left: 11.5%;
    margin-top: -60px;
    color: black;
    font-size: 34.18px;
   
    

}

a {
    margin-left: 60px;
    text-decoration: none;
}


/* линия над сайтом */
.line{
    box-shadow: 0 -115px 2px 8px ;
    color: rgb(242,172,4);
}

/* логотип */
.logo{
    width: auto;
    height: auto;
    margin-top: 50px;
    margin-left: 3.5%;
}

/*Верхняя надпись */
.text_logo{
    font-size: 20.18px;
    margin-left: 28%;
    margin-top: -5%;
    text-transform:uppercase;
    color: rgb(242,172,4);
    
    
    
    
}
/* Текст рядом с главной надписью*/
.text_logo2{
    font-size: 14.18px;
    margin-left: 1%;
    margin-top: 1%;
    text-transform: lowercase;
    color: rgb(236,236,78);
}

/* линия около заголовочного текста*/
.bord{
    
    height: 50px;
    
   border-left: 1px solid red;
    padding-left: 2.1%;
    padding-top:1%;
}

/* линия для меню*/
.menu{
    position:relative;
    display:inline-block;
    font-size:23px;
    margin-top: 50px;
    
    
}

/* для линии сверху */
.menu::after{
    content:"";
    position:absolute;
    top:-15px;
    left:60%;
    width:140%;
    height:2px;
    margin-left:-52%;
    background:#000
}

/* для линии снизу */
.menu::before{
    content:"";
            position:absolute;
            bottom:-15px;
            left:38%;
            width:140%;
            height:1.5px;
            margin-left:-30%;
            background:#000
}

.product{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 5%;
    top: 40%;
    text-transform: uppercase;
    color:black;
}

.kaktys{
    position: absolute;
    left:5%;
    top:45%;
    
}

.show{
    position: absolute;
    left:40%;
    top:45%;
}

.swith{
    position: absolute;
    left:5%;
    top:82%;
}
.text_photout{
    width: 110%;
    position: absolute;
    left:40%;
    top:75%;
    font-size: 115%;
    color: black;
}
.text_photout::after{
    content:"";
    position:absolute;
    top:2%;
    left:52%;
    width:40.3%;
    height:1.5px;
    margin-left:-52%;
    background:#000
}

.more{
    position:absolute;
    right:16%;
    top: 95%;
    
    text-decoration: none;
    
    
    
    
    
}
